<div class="container">
	
	<br><br>
	
	<div class="well totals span12">
		
		<h1><strong>{{total}}</strong> sites and articles</h1>
		<p>Add Tweeted articles and websites</p>
		
	</div>
  
	<div class="alert alert-info service chrome span7">
		<img src="../img/chrome logo.png" class="logo pull-left span1" />
		<h4>Chrome</h4>
		<p>
			<strong class="count">{{chromeCount}}</strong>
			browser bookmarks indexed
		</p>
		<button class="btn btn-mini refresh">
			<i class="icon-refresh"></i>
			Refresh
		</button>
	</div>
	
	<p>
		<a target="_blank" id="fb_connect" href="{{facebookAuthUrl}}" class="btn btn-primary">
			<i class="icon-user icon-white"></i>
			Facebook Connect
		</a>
	</p>
	
	<div class="alert alert-info service twitter span7">
		<img src="../img/twitter-bird-light-bgs.png" class="logo pull-left span1" />
		<h4>Twitter</h4>
		<p>Add Tweeted articles and websites</p>
		<form class="form-search">
		<input type="text" class="input-medium input search-query" placeholder="@you">
		<button class="btn btn-info add"><i class="icon-plus icon-white"></i>Add Twitter</button>
		</form>
	</div>

	<div class="alert alert-success service delicious span7">
		<img src="../img/del_logo.png" class="logo pull-left span1" />
		<h4>Delicious</h4>
		
		{{#if delicious_user}}
			<div class="connected">
				<p>
					<strong class="count">{{deliciousCount}}</strong>
					Delicious bookmarks indexed from account {{delicious_user}}
				</p>
				<button class="btn btn-mini js-remove"><i class="icon-trash "></i>Remove</button>
			</div>
		{{else}}
			<div class="start">
				<p>
					Include your public Delicious bookmarks
				</p>
				<input type="text" class="input-medium input search-query" placeholder="userlicious">
				<button class="btn btn-success js-add">
					<i class="icon-plus icon-white"></i>
					Add it
				</button>
			</div>
		{{/if}}
		
	</div>
  
	<button class="btn btn-mini  remove_all">
		<i class="icon-trash "></i>
		Reset everything
	</button>
	
	config: toggle class "3dfx" on body to disable crazy 3d FX
  
</div>
