<a href="{{url}}">
	<div class="thumb_wrap">
		<img src="../assets/img/grey_photo.gif" data-original="{{thumbnail_url}}" class="thumb" width="205" height="154">
	</div>
	<div class="meta">
		<img src="chrome://favicon/{{url}}" class="favicon" />
		{{title}}
		~
		<em class="domain">{{domain}}</em>
	</div>
</a>
